{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block contents %}
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Blog page</h2>
                            <p> <a href="{% url 'website:index' %}">Home</a> <span>-</span>Blog</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->


    <!--================Blog Area =================-->
    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">       
                    <div class="blog_left_sidebar">
                        {% for post in posts %}               
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{{post.image.url}}" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>{{post.published_date|date:"d"}}</h3>
                                    <p>{{post.published_date|date:"M"}}</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'blog:single' pid=post.id %}">
                                    <h2>{{post.title}}</h2>
                                </a>
                                <p>{{post.content|truncatewords:6|safe}}</p>
                                
                                <ul class="blog-info-link">
                                    {% for cat in post.category.all %}
                                    <li><a href="{% url 'blog:category' cat_name=cat.name %}"><i class="far fa-comments"></i>{{cat.name}}</a> {% if not forloop.last %},{% endif %}</li>
                                    {% endfor %}
                                    <li><i class="far fa-comments"></i>{% comments_count post.id %} Comments</li>
                                    <li><i class="far fa-views"></i>{{post.counted_views}} Views</li>
                                </ul>
                            </div>
                        </article>
                        {% endfor %}
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                {% if posts.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ posts.previous_page_number }}" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% for i in posts.paginator.page_range %}
						        {% if posts.number == i %}
                                <li class="page-item active">
                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                </li>
                                
                                {% else %}
                                <li class="page-item">
                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% if posts.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ posts.next_page_number}}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        {% include 'blog/blog-search.html' %}
                        {% postcategories %}
                        {% latestposts %}
                        {% include 'blog/blog-newsletter.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    <!--::subscribe area start::-->
    <section class="subscribe_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="subscribe_iner">
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-xl-5">
                                <div class="subscribe_area_tittle">
                                    <h2>Do You Have a Question?</h2>
                                </div>
                            </div>
                            <div class="col-lg-7 col-xl-6">
                                <div id="mc_embed_signup">
                                    <aside class="single_sidebar_widget newsletter_widget">
                                        <form target="_blank"
                                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                            method="get">
                                            <div class="form-group">
                                                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                                    onblur="this.placeholder = 'Enter email'" placeholder='Enter email'
                                                    required>
                                            </div>
                                            <button class="btn_2" type="submit">Subscribe</button>

                                            <div class="info"></div>
                                        </form>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::subscribe area end::-->
{% endblock %}